<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtlasCarousel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-image:url(&quot;assets/img/quantamag.jpg&quot;);"><nav class="navbar navbar-light navbar-expand-md" style="background-color:#ffa3a3;">
    <div class="container-fluid"><a href="#" class="navbar-brand">ATLASOpenData</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a href="Home.html" class="nav-link active"><button class="btn btn-secondary" type="button" style="background-color:transparent;">Home</button></a></li>
            </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="background-color:transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theory
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" style="background-color:transparent; margin:0px 8px;color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Basic
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                            <a class="dropdown-item" href="Theory.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
                    
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuA" style="background-color:transparent; margin:0px 8px; color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Advanced
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuB">
                            <a class="dropdown-item" href="Theory.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
            
            </div>
        </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtona" style="background-color:transparent; margin:0px 8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Analysis
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                    <a class="dropdown-item" href="DataAnalysistt.html">Tutorial</a>
                    <a class="dropdown-item" href="OpenAnalysis.html">Open Analysis</a>
                </div>
            </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtona" style="background-color:transparent; margin:0px 8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                    <a class="dropdown-item" href="GUIathome.html">GUI at home</a>
                    <a class="dropdown-item" href="https://www.hep.ucl.ac.uk">UCLHEP</a>
                </div>
            </div>
        </div>
        <i class="icon ion-social-twitter" style="margin:10px;"></i>
        <i class="icon ion-social-facebook" style="margin:10px;"></i>
        <i class="icon ion-social-youtube" style="margin:10px;"></i>
    </div>
</nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="height:1371px;padding:0px;background-color:#fff9ee;">
                    <h1 style="margin:10px;">Conservation Laws</h1>
                    <p style="margin:13px;height:1229px;">For a process to take place, it must conserve certain quantities – these are called conservation laws. Conserved quantities must be the same before and after a process. There are many conservation laws but we’ll discuss only the following
                        - Lepton number, baryon number, charge, mass-energy and momentum. We’ll be showing the beta decay example to show the conservation laws. Let’s look at the beta decay Feynman diagram. For simplicity, we have just shown a neutron
                        decay into a neutron rather than display all the individual quarks. &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br><br>Conservation of charge –the change from down quark to up quark means that a +1 electric charge in generated. This is balanced
                        by the creation of the &nbsp;boson, so at the vertex no total charge in generated and charge is conserved. This Boson itself decays into an electron and an anti-electron neutrino, a good example conservation of lepton number.<br>&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Conservation of lepton number – lepton number is a quantum number with no classical analogy. There are 3 known types of lepton number, each are independently. The electron
                        and the electron neutrino have +1 electron lepton number and 0 tau and muon lepton numbers. The muon has 1 muon lepton number, and 0 tao and electron lepton numbers etc. The ant-particle versions have the negative lepton number
                        as their particle twin. In the beta decay example, we have no lepton numbers at all until the decay of the W minus boson, which decays into an electron (electron lepton number +1) and an anti electron neutrino (electron lepton
                        number of -1) – yielding a total lepton number of 0. Lepton number is 0 before and after the process; since there is no change in lepton number, lepton number is conserved.Many quantum numbers (like lepton number) are conserved.
                        Any encountered later will function in a very similar way.<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mass-energy – we talked about how mass and energy are really the same
                        thing in the special relativity video. This mass-energy is a conserved quantity at the end of any process. Often in particle physics there is some observes some mass loss. In the beta decay, we see that there is some lost mass
                        since the down quark has about twice the mass of the up quark. This lost mass manifests itself as the energy of the electron and the anti electron neutrino, as the mass of the electron and the neutrino are less than the lost mass
                        at quark change.<br>Conservation of momentum – relativistic momentum is conserved.<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; The conservation laws are crucial
                        in particle physics as they play a role in calculation and qualitative understanding and experimental ideas.<br><br><br><br><br><br><br><br><br><br><br><br><br></p>
                    <p></p>
                    <p style="margin:13px;"><a class="btn btn-primary" role="button" href="InteractionForcesandFeynmanDiagrams.html" style="background-color:transparent;color:rgb(0,0,0);">Previous</a><a class="btn btn-primary" role="button" href="Experinemtal.html" style="background-color:transparent;color:rgb(0,0,0);">Next</a></p>
                </div>
                <div class="col-md-6" style="padding:0px;background-color:#fff9ee;">
                    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=MzRCDLre1b4&amp;t=15s"></iframe></div><img src="assets/img/ddd.jpg" style="height:285px;">
                    <p>Figure 1. Diagram of beta decay, showcasing conservation of charge and lepton number.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider1.js"></script>
</body>

</html>