<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtlasCarousel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-image:url(&quot;assets/img/quantamag.jpg&quot;);"><nav class="navbar navbar-light navbar-expand-md" style="background-color:#ffa3a3;">
    <div class="container-fluid"><a href="#" class="navbar-brand">ATLASOpenData</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a href="Home.html" class="nav-link active"><button class="btn btn-secondary" type="button" style="background-color:transparent;">Home</button></a></li>
            </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="background-color:transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theory
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" style="background-color:transparent; margin:0px 8px;color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Basic
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                            <a class="dropdown-item" href="Theory1.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
                    
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuA" style="background-color:transparent; margin:0px 8px; color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Advanced
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuB">
                            <a class="dropdown-item" href="Theory1.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
            
            </div>
        </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtona" style="background-color:transparent; margin:0px 8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Analysis
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">3</a>
                    <a class="dropdown-item" href="#">4</a>
                </div>
            </div>
        </div>
        <i class="icon ion-social-twitter" style="margin:10px;"></i>
        <i class="icon ion-social-facebook" style="margin:10px;"></i>
        <i class="icon ion-social-youtube" style="margin:10px;"></i>
    </div>
</nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="height:1617px;padding:0px;background-color:#ffefd1;">
                    <h1 style="margin:10px;">Experimental Ideas</h1>
                    <p style="margin:13px;height:1475px;">To understand anything from the data at ATLAS, we’ll have to have some understanding of how the detector works and how experimental physics can collect any information from these sub-atomic interactions. First order of business is
                        deconstructing the basics of how a detector works. The easiest way is to view the cross section of the detector – note the the detector is like a huge tube and we’ll show a cross-section picture of it to see it layer by layer.
                        Each layer has a distinct function.<br><br><strong>Inner-most ring – the particle trackers</strong><br>The particle tracker comes in two parts. One determines the momentum by tracing the particle’s path through the magnetic field
                        – this is the semi-conductor tracker. The other can distinguish between electrons and pions – this is the transitional radiation tracker. Note – a pion first generation quark-antiquark pair ie a first generation meson.<br><br>The
                        semi-conductor tracker has four cylindrical layers with millions of little silicon strips. When a charged particle penetrates and travels through a strip, it ionizes this semi conductor yielding a current hence a signal. By seeing
                        which strips have signal, the tracker can determine and trace the path of charged particle<br><br>The transitional radiation tracker is a series of tubes in the same axis as the tube of the detector. These tubes are filled with
                        gas and a detector. As the particles moves through, they release something called transition radiation – it’s released when a charged particle moves across different materials. The electron has much more of this radiation hence
                        a much bigger signal. This is used to determine whether a particle is an electron or a pion.<br><br>The muon cannot be tracked by this because it does not interact adequately. A separate setup is reserved for muons specifically.<br><br><strong>Calorimeters </strong><br>Calorimeters
                        detect dissipated energy of particles passing through them. Most of them aim to stop a particle completely as it passes through the calorimeters and these calorimeters can<br>stop most particles – the exceptions are muons and neutrinos.<br><br>The
                        calorimeters come in electromagnetic and hadronic types – electromagnetic ones measure the energy of electrons, photons etc as they interact with electrically charged particles while hadronic ones look at interactions with atomic
                        nuclei. The electromagnetic calorimeter is full of liquid argon. As a photon or electron passes, it leaves a trail of ions and free electrons. This trail is measured at the edges of the calorimeter and this can be used to determine
                        the energy.<br><br>The hadronic calorimeter measures the energy of hadrons. It has layers of ‘scintilator sheet’s’ – which are materials that produce light in the presence of a charged particle. This dissipates energy away from
                        the particle. Measuring the light is used to determine the energy of the particle. <br>Both these examples is kind of like throwing a ball in a swimming pool and calculating the speed of the ball by measuring the ripples the ball
                        makes in the water. Except the ball is a resultant particle from a collision and the water is either liquid argon or scintillator sheets<br><br><br><br><br><br><br><br><br><br><br><br><br></p>
                    <p></p>
                    <p style="margin:13px;"><button class="btn btn-primary" type="button" style="background-color:transparent;"><a href="#">Previous</a></button><button class="btn btn-primary" type="button" style="background-color:transparent;"><a href="#">Next</a></button></p>
                </div>
                <div class="col-md-6" style="padding:0px;background-color:#fff9ee;">
                    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=MzRCDLre1b4&amp;t=15s"></iframe></div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider1.js"></script>
</body>

</html>