<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtlasCarousel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-image:url(&quot;assets/img/quantamag.jpg&quot;);"><nav class="navbar navbar-light navbar-expand-md" style="background-color:#ffa3a3;">
    <div class="container-fluid"><a href="#" class="navbar-brand">ATLASOpenData</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a href="Home.html" class="nav-link active"><button class="btn btn-secondary" type="button" style="background-color:transparent;">Home</button></a></li>
            </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="background-color:transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theory
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" style="background-color:transparent; margin:0px 8px;color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Basic
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                            <a class="dropdown-item" href="Theory.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
                    
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuA" style="background-color:transparent; margin:0px 8px; color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Advanced
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuB">
                            <a class="dropdown-item" href="Theory.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
            
            </div>
        </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtona" style="background-color:transparent; margin:0px 8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Analysis
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                    <a class="dropdown-item" href="DataAnalysistt.html">Tutorial</a>
                    <a class="dropdown-item" href="OpenAnalysis.html">Open Analysis</a>
                </div>
            </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtona" style="background-color:transparent; margin:0px 8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                    <a class="dropdown-item" href="GUIathome.html">GUI at home</a>
                    <a class="dropdown-item" href="https://www.hep.ucl.ac.uk">UCLHEP</a>
                </div>
            </div>
        </div>
        <i class="icon ion-social-twitter" style="margin:10px;"></i>
        <i class="icon ion-social-facebook" style="margin:10px;"></i>
        <i class="icon ion-social-youtube" style="margin:10px;"></i>
    </div>
</nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="height:1557px;padding:0px;background-color:#fff9ee;">
                    <h1 style="margin:10px;">Interaction Forces and Feynman Diagrams</h1>
                    <p style="margin:13px;height:1380px;">We have already looked at what are the ‘ingredients’ in the standard model. This section will focus more on the interaction between different particles. In particle physics, we call an interaction between particles an event. An essential
                        tool to visualise events is through Feynman diagrams. Let’s first try to understand some of the conventions used in Feynman diagrams.<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; Here is an example of a Feynman diagram showing two electrons repelling off each other by exchange of photon. The fancy term for this process is electron scattering.&nbsp;<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Time goes from left to right while the ‘up-down’ direction is spatial. So to illustrate, the point ‘A’ happened before point ‘B’. The red arrows and text are here just
                        to illustrate the coordinates – usually these are not present in a Feynman diagram.You can imagine this exchange of momentum visually in a similar way by imagining two stationary boats, with one person in each. One contains a rock,
                        which is analogous to the photon in the Feynman diagram. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;When the person with the rock in their boat throws it into the other boat, boat one recoils, and boat two recoils in the other
                        direction when person two catches the rock. The straight lines represent real particles (in this case electrons) and the squiggly lines represent what are called ‘virtual particles’. They are called virtual particles because they
                        can’t be directly observed and exist for a short period of time to mediate the interaction. The virtual particle in this case is the photon, which only exists from time at point ‘A’ to time at point ‘B’.<br>&nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Another convention to note is that the arrows do not indicate direction of motion. The arrows only indicate whether the particle is matter or antimatter.
                        Direction of motion is unambiguous without the arrows because Feynman diagrams chart both space and time. Let’s see an example below, showing the annihilation of an electron and a positron. Here the positron is the anti-particle
                        hence it has arrows point in the ‘negative time’ direction.&nbsp;<br><br>The basic structure of the Feynman diagram is to visualise particle physics events and aid in calculation. Another key idea is that certain conservation laws
                        must hold at each vertex of a Feynman diagram. For example, charge must be conserved at each vertex. We’ll now move on to talk about conservation laws in general. But first, leave a summary of the basic take-aways from Feynman
                        Diagrams.<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; *summary* &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - in Feynman diagrams, the progression of time is from left
                        to right &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - straight lines indicate particles while squiggly lines indicate force carrying virtual particles &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - the direction of arrows only indicate whether the particle
                        in question is a particle or anti-particle &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - certain conservation laws hold
                        at each vertex<br><br><br><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br><br><br><br><br><br><br><br><br><br></p>
                    <p></p>
                    <p style="margin:13px;"><a class="btn btn-primary" role="button" href="InteractionForcesandFeynmanDiagram.html" style="background-color:transparent;color:rgb(0,0,0);">Previous</a><a class="btn btn-primary" role="button" href="ConservationLaws.html" style="background-color:transparent;color:rgb(0,0,0);">Next</a></p>
                </div>
                <div class="col-md-6" style="padding:0px;background-color:#fff9ee;"><iframe width="560" height="315" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/F0a9UQQ1IKs" style="width:477px;"></iframe><img style="background-image:url(&quot;assets/img/eFeynman.jpg&quot;);width:471px;height:268px;">
                    <p
                        style="height:266px;">Figure 1. Feynman diagram for electron scattering.&nbsp;</p><img src="assets/img/ep.jpg">
                        <p>Figure 2. Feynman diagram for electron - positron anhiliation</p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider1.js"></script>
</body>

</html>