<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtlasCarousel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-image:url(&quot;assets/img/quantamag.jpg&quot;);"><nav class="navbar navbar-light navbar-expand-md" style="background-color:#ffa3a3;">
    <div class="container-fluid"><a href="#" class="navbar-brand">ATLASOpenData</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a href="Home.html" class="nav-link active"><button class="btn btn-secondary" type="button" style="background-color:transparent;">Home</button></a></li>
            </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="background-color:transparent;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theory
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" style="background-color:transparent; margin:0px 8px;color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Basic
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                            <a class="dropdown-item" href="Theory.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
                    
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuA" style="background-color:transparent; margin:0px 8px; color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Advanced
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuB">
                            <a class="dropdown-item" href="Theory.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
            
            </div>
        </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtona" style="background-color:transparent; margin:0px 8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data Analysis
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                    <a class="dropdown-item" href="DataAnalysistt.html">Tutorial</a>
                    <a class="dropdown-item" href="OpenAnalysis.html">Open Analysis</a>
                </div>
            </div>
        </div>
        <i class="icon ion-social-twitter" style="margin:10px;"></i>
        <i class="icon ion-social-facebook" style="margin:10px;"></i>
        <i class="icon ion-social-youtube" style="margin:10px;"></i>
    </div>
</nav>
    <div style="height:2633px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="height:2535px;padding:0px;background-color:#fff9ee;">
                    <h1 style="margin:10px;">The Standard Model</h1>
                    <p style="margin:13px;height:311px;">The fundamental idea in particle physics is that everything at its most fundamental level can be described as particles interacting. These particles and their properties are catalogued in something called the standard model. Let’s
                        begin to scratch the surface of the elements of the standard model. <br>Let’s first look at the nucleus of common matter – protons and neutrons. These protons are in fact composite particles, meaning they are in fact made of even
                        smaller particles. In the case of protons and neutrons, they are composed of particles called quarks. These quarks are held together by particles called gluons. Let’s have a look at some of the properties of the constituent quarks
                        of protons and neutron. They are the ‘up’ and ‘down’ quarks.&nbsp;<br></p>
                    <p style="margin:13px;height:2086px;">MeV is a unit used a lot in particle physics – for our purposes just know that it’s a very small amount of mass. What’s more important is to consider these particle’s masses compared to each other (their relative masses).<br>The proton
                        is made of 2 ‘up’ quarks and 1 ‘down’ quark while the neutron is made of 2 ‘down’ quarks and 1 ‘up’ quark. One can see that if we add the charges for the proton and neutron, we get the expected answers – the proton has an electric
                        charge of +1 while the neutron is electrically neutral (ie has an electric<br>charge of 0). The ‘up’ and ‘down’ quarks are by far the most common quarks we see around us in everyday stuff, but they are not the only quarks in the
                        universe. The ‘up’ and ‘down’ quarks are called the ‘first generation’ of quarks, since they are the lightest pair of quarks. There are two more generations of quarks – each generation has a pair of quarks with charges analogous
                        to the ‘up’ and ‘down’ quarks higher mass. You can consider these higher generation of quarks as ‘heavier versions’ of the ‘up’ and ‘down’ quarks. Electrons, unlike protons and neutrons, are fundamental particles. Electron belong
                        to a class of particles called leptons. Like quarks, leptons come in pairs too; the ‘sibling’ to each lepton is its neutrino so, for example, the electron’s pair is called the ‘electron neutrino’. Let’s look at a table like we
                        did for the ‘up’ and ‘down’ quarks.<br><br>Note that the electron is significantly lighter than either of the lightest quarks and the neutrino is much, much lighter still. In fact, so light that when the standard model was formulated
                        it was considered massless! Now like quarks, leptons have generations too. There are two more known generations called the muon and tao generations. Each generation has a pair like the electron and the electron neutrino but not
                        much is known about the masses of the neutrinos since it’s a huge experimental challenge. Both leptons and quarks are under the broader class of particles called fermions. These are the so called ‘matter’ particles. Now you might
                        wonder “why are there two categories or fermions and what’s the difference between leptons and<br>quarks?” The answer is – leptons and quarks interact with a slightly different set of fundamental forces.<br><br>There are four fundamental
                        forces in the universe - electromagnetism, the weak force, gravity and the strong force. Both leptons and quarks can interact dictated by the first three forces listed but only quarks interact with the strong nuclear force. Each
                        of these forces has particles that mediate interaction. These particles are called bosons.<br><br>Let’s look at a helium atom’s nucleus with 2 neutrons and 2 protons. The particles that correspond to the strong force are called
                        gluons. These gluons hold together the quarks into protons and neutrons. The resultant protons and neutrons are yet again bound by gluons, holding together the nucleus. Continuing with a helium atom, we know that the electrons
                        are held to the nucleus by the electrostatic force since electrons and the nucleus have opposite charges. The boson that corresponds to electrostatic force is called the photon.The Weak force in involved with radioactive decay.
                        You might familiar with radioactive decay if you’ve come across alpha, beta or gamma decay. Let’s look at a beta decay. *<strong>INSERT DRAWN PICTURE OF THE</strong><br><strong>BETA DECAY!!!!</strong>*<br>Once the down quark converts
                        to an up quark, it releases a boson. This &nbsp;boson then decays into an electron and anti-electron neutrino (explained later in text). This interaction will be discussed in more detail later, it’s here to illustrate how &nbsp;plays
                        a role in beta decay and the weak force more generally.<br><br>When it comes to quantum theories, gravity is always the cosmologically large elephant in the room. Gravity has never been completely well described by particle physics
                        and there is no evidence for a gravity related boson a.k.a. the hypothetical “graviton”. The accepted theory of gravity is Einstein’s theory of General Relativity and it’s a completely independent physical theory. <br><br>The last,
                        relatively independent boson is the Higgs boson. This is a recently confirmed particle (in 2012) but was theorised decades ago. This is a more complicated boson. The field associated with the Higgs boson is responsible for giving
                        some fundamental particles their mass.<br><br>We also have anti-particles like the mentioned anti-electron neutrino. Anti-particles have the exact opposite properties and their particle twins but have the same mass. For example,
                        we also have an anti-electron (called the ‘positron’). It weighs the same as the electron but has a +1 electric charge.<br>To the right is a picture of the entire standard model to summarise what’s been discussed. <br><br><br><br><br><br></p>
                    <p
                        style="margin:13px;"></p><a class="btn btn-primary" role="button" href="SpecialRelativity.html" style="background-color:transparent;"><a href="SpecialRelativity.html" style="color:rgb(0,0,0);">Next</a></a>
                </div>
                <div class="col-md-6" style="padding:0px;background-color:#fff9ee;">
                    <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item"></iframe></div>
                    <p style="height:230px;margin:-47px;"></p><img style="background-image:url(&quot;assets/img/quarks.jpg&quot;);width:476px;height:58px;">
                    <p>Figure 1. Table of quark charge &amp; mass, the constituents that make up a proton.</p><img style="background-image:url(&quot;assets/img/electron.jpg&quot;);width:475px;">
                    <p>Figure 2. Electron &amp; Electron Neutrino information.&nbsp;</p>
                    <p style="height:1429px;"></p><img src="assets/img/627px-Standard_Model_of_Elementary_Particles.svg.png" style="height:389px;"></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider1.js"></script>
</body>

</html>