Output/*
!Output/.keep
Input/*
!Input/.keep
!Input/MC/.keep
!Input/Data/.keep
.idea/*
results/*
!results/.keep
static/histograms/*
!static/histograms/.keep
*.pyc
*.root
root/*
venv/*
static/*
templates/*
webdesign/*