<!DOCTYPE HTML>
<html>
	<head>
		<title>TOOL DEMO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
					<header id="header">
						<a class="logo">ATLAS OPEN DATA TOOL DEMO.</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="{{ url_for('whatisthis') }}">WHAT IS THIS?!</a></li>
							<li class="active"><a href="{{ url_for('analytics') }}">ANALYTICS</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://github.com/WildTangles/EventAnalyser" class="icon fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
                        <form method="post" action="{{ url_for('analytics') }}" class="alt">
							<div class="row uniform">
                                <div class="field">
                                    <label for="name">Number of Leptons</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Lepton Min Transverse Mass</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Lepton Max Transverse Mass</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "200" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">2 Leptons: Same/Different Charge</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "1" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">2 Leptons: Same/Different Flavour</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "1" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Lepton Pair 1 Invariant Mass</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Lepton Pair 2 Invariant Mass</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Range of Invariant Mass</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Lepton Charge Checkbox</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Lepton Flavour Checkbox</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Invariant Mass of Pair Checkbox</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Lepton Momentum</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "25" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Lepton Momentum CheckBox</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Minimum Jet</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Maximum Jet</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "9" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Minimum B-Jets</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Maximum B-Jets</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "9" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">B-Jets CheckBox</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Min Missing Momentum</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Max Missing Momentum</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "200" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Percentage Data</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0.1" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">NUM charged leptons checkbox</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">NUM jets checkbox</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="name">Missing Transverse Momentum checkbox</label>
                                    <div class="6u 12u$(xsmall)">
                                        <input type="text" name="cut[]" value= "0" />
                                    </div>
                                </div>
								<div class="12u$">
									<ul class="actions">
										<li><input type="submit" value="Show me stuff." class="special" /></li>
									</ul>
								</div>
							</div>
						</form>

                {% if histograms %}
                        <div class="box alt">
                            <div class="row 50% uniform">
                    {% for histogram in histograms %}
                                <div class="4u"><span class="image fit"><img src="{{histogram}}" alt="" /></span></div>
                    {% endfor %}
                            </div>
                        </div>
                {% endif %}
                    </div>
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>