<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TT Decay</title>
<!--     <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <!-- switch this to local later -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Navigation-with-Button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Simple-Slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/form-validation.css') }}">    
</head>

<body style="background-image:url(&quot;../static/images/cloud1.jpg&quot;);"><nav class="navbar navbar-light navbar-expand-md" style="background-color:#ffa3a3;">
    <div class="container-fluid"><a href="#" class="navbar-brand">ATLAS OpenData</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li role="presentation" class="nav-item"><a href="Home.html" class="nav-link active"><button class="btn btn-dark" type="button">Home</button></a></li>
            </ul>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theory
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" style="background-color:transparent; margin:0px 8px;color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Basic
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuB">
                            <a class="dropdown-item" href="Theory.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
                    
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuA" style="background-color:transparent; margin:0px 8px; color:rgb(0,0,0); width:150px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Advanced
                    </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuB">
                            <a class="dropdown-item" href="Theory.html">Intro</a>
                            <a class="dropdown-item" href="StandardModel.html">Standard Model</a>
                            <a class="dropdown-item" href="SpecialRelativity.html">Special Relativity</a>
                            <a class="dropdown-item" href="InteractionForcesandFeynmanDiagrams.html">Interaction Forces and Feynman Diagrams</a>
                            <a class="dropdown-item" href="ConservationLaws.html">Conservation Laws</a>
                            <a class="dropdown-item" href="Experimental.html">Experimental Ideas</a>
                        </div>
            
            </div>
        </div>
            <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButtona" style="margin:0px 8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                OpenData
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtona">
                    <a class="dropdown-item" href="DataAnalysistt1.html">Size of Dataset</a>
                    <a class="dropdown-item" href="DataAnalysistt2.html">Leptons</a>
                    <a class="dropdown-item" href="DataAnalysistt3.html">Jets</a>
                    <a class="dropdown-item" href="DataAnalysistt4.html">Neutrinos</a>
                    <a class="dropdown-item" href="DataAnalysistt5.html">Data Samples</a>
                    <a class="dropdown-item" href="DataAnalysistt6.html">Free Roam!</a>            
                </div>
            </div>
        </div>
    </div>
</nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="background-color:#fff9ee;">
                    <h1>tt¯ decay - jets&nbsp;</h1>                    
                    <p>Among the decay products in the tt¯ decay channel are also between 2-6 quarks with 2-4 bottom quarks. We can further isolate the tt¯ decay signal from the background processes by applying this additional cut!</p>
                    <p>At ATLAS, quarks are detected by proxy. A jet (narrow cone of hadrons and other particles) results from the hadronization of these quarks and jet count is therefore an indicator of original quark count. Notice that so far, the dataset has been dominated by W and Z events as these are the most likely to occur. Fortunately, these W and Z events only occur with 0 or 4 jets. In addition, to make a cut specifically for bottom quarks, we'll rely on jet flavor tagging. b-tagged jets are jets that were identified to originate from bottom quarks. Finally, it's generally preferred not to make cuts that are unnecessarily strict as this can shrink the dataset too much! Let's further isolate the tt¯ decay events from the background signal by adding an additional cut for 2-9 jets and 2-4 b-tagged jets.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="background-color:#fff9ee;">

       <div class="col-md-8 order-md-1">                  
          <form class="needs-validation" id="event-features-form" method="POST" novalidate>

            <div class="mb-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="number-charged-leptons" name="number-charged-leptons">
                <label class="custom-control-label" for="number-charged-leptons">Charged Lepton Count</label>                
              </div>               
              <small class="form-text text-muted">Charged (electron-like) leptons in the event.</small>
              <div class="input-group" id="number-charged-leptons-prompts-number">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-light active">
                    <input type="radio" name="number-charged-leptons-choice" id="number-charged-leptons-0" value="0" autocomplete="off" checked> 0
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" name="number-charged-leptons-choice" id="number-charged-leptons-1" value="1" autocomplete="off"> 1
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" name="number-charged-leptons-choice" id="number-charged-leptons-2" value="2" autocomplete="off"> 2
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" name="number-charged-leptons-choice" id="number-charged-leptons-3" value="3" autocomplete="off"> 3
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" name="number-charged-leptons-choice" id="number-charged-leptons-4" value="4" autocomplete="off"> 4
                  </label>
                </div>                             
              </div>
            </div>
            <div class="mb-3">
              <div class="input-group" id="number-charged-leptons-prompts-transverse-mass">
                <div class="row">
                  <div class="col-sm">

                    <div class="input-group" id="number-charged-leptons-prompts-transverse-mass-inner">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="">Min and Max Mass</span>
                      </div>
                      <input id="min-number-charged-leptons-prompts-transverse-mass" name="min-number-charged-leptons-prompts-transverse-mass" type="number" step= "0.1" min="0" max="200" class="form-control" placeholder="0.0-200.0">
                      <div class="input-group-append">
                        <span class="input-group-text">GeV</span>
                      </div>
                      <input id="max-number-charged-leptons-prompts-transverse-mass" name="max-number-charged-leptons-prompts-transverse-mass" type="number" step="0.1" min="0" max="200" class="form-control" placeholder="0.0-200.0">
                      <div class="input-group-append">
                        <span class="input-group-text">GeV</span>
                      </div>
                      <div class="invalid-feedback">
                        Specify an appropriate minimum and maximum transverse mass for a lepton between 0.0 GeV and 200.0 GeV.
                      </div>
                    </div>
                    <small class="form-text text-muted">Minimum and maximum transverse mass of a single lepton.</small>

                  </div>
                </div>    
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group" id="number-charged-leptons-prompts-charge">
                <div class="row">
                  <div class="col-sm">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="number-charged-leptons-prompts-charge-same" name="number-charged-leptons-prompts-charge-same">
                      <label class="custom-control-label" for="number-charged-leptons-prompts-charge-same">Same Charge</label>                
                    </div>            
                    <small class="form-text text-muted">Same charge within a pair of leptons, but not necessarily with others.</small>
                  </div>
                  <div class="col-sm">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="number-charged-leptons-prompts-charge-opp" name="number-charged-leptons-prompts-charge-opp">
                      <label class="custom-control-label" for="number-charged-leptons-prompts-charge-opp">Opposite Charge</label>                
                    </div>            
                    <small class="form-text text-muted">Opposite charge within a pair of leptons, but not necessarily with others.</small>
                  </div>
                </div>    
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group" id="number-charged-leptons-prompts-flavor">
                <div class="row">
                  <div class="col-sm">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="number-charged-leptons-prompts-flavor-same" name="number-charged-leptons-prompts-flavor-same">
                      <label class="custom-control-label" for="number-charged-leptons-prompts-flavor-same">Same Flavor</label>                
                    </div>            
                    <small class="form-text text-muted">Same flavor within a pair of leptons, but not necessarily with others.</small>
                  </div>
                  <div class="col-sm">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="number-charged-leptons-prompts-flavor-diff" name="number-charged-leptons-prompts-flavor-diff">
                      <label class="custom-control-label" for="number-charged-leptons-prompts-flavor-diff">Different Flavor</label>                
                    </div>            
                    <small class="form-text text-muted">Different flavor within a pair of leptons, but not necessarily with others.</small>
                  </div>
                </div>    
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group" id="number-charged-leptons-prompts-invariant-mass1">
                <div class="row">
                  <div class="col-sm">

                      <div class="input-group" id="number-charged-leptons-prompts-invariant-mass1-inner">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="">Invariant Mass</span>
                        </div>
                        <input id="val-number-charged-leptons-prompts-invariant-mass1" name="val-number-charged-leptons-prompts-invariant-mass1" type="number" step= "0.1" min="0" max="200" class="form-control" placeholder="0.0-200.0">
                        <div class="input-group-append">
                          <span class="input-group-text">GeV ±</span>
                        </div>
                        <input id="unc-number-charged-leptons-prompts-invariant-mass1" name="unc-number-charged-leptons-prompts-invariant-mass1" type="number" step= "0.1" min="0" max="200" class="form-control" placeholder="0.0-200.0">
                        <div class="input-group-append">
                          <span class="input-group-text">GeV</span>
                        </div>
                        <div class="invalid-feedback">
                          Specify an appropriate invariant mass for a pair of leptons between 0.0 GeV and 200.0 GeV.                          
                        </div>
                    </div>
                    <small class="form-text text-muted">Invariant mass of a pair of leptons, subject to other event features.</small>


                  </div>
                </div>
              </div>
            </div>


            <div class="mb-3">
              <div class="input-group" id="number-charged-leptons-prompts-invariant-mass2">
                <div class="row">
                  <div class="col-sm">

                      <div class="input-group" id="number-charged-leptons-prompts-invariant-mass2-inner">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="">Invariant Mass</span>
                        </div>
                        <input id="val-number-charged-leptons-prompts-invariant-mass2" name="val-number-charged-leptons-prompts-invariant-mass2" type="number" step= "0.1" min="0" max="200" class="form-control" placeholder="0.0-200.0">
                        <div class="input-group-append">
                          <span class="input-group-text">GeV</span>
                        </div>
                        <div class="invalid-feedback">
                          Specify an appropriate invariant mass for a pair of leptons between 0.0 GeV and 200.0 GeV.                          
                        </div>
                    </div>
                    <small class="form-text text-muted">Invariant mass of the other pair of leptons, same uncertainty as above.</small>


                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group" id="number-charged-leptons-prompts-min-transverse-momentum">
                <div class="row">
                  <div class="col-sm">

                      <div class="custom-control custom-checkbox" id="min-charged-lepton-transverse-momentum-checkbox-group">
                        <input type="checkbox" class="custom-control-input" id="min-charged-lepton-transverse-momentum-checkbox" name="min-charged-lepton-transverse-momentum-checkbox">
                        <label class="custom-control-label" for="min-charged-lepton-transverse-momentum-checkbox">Minimum Transverse Momentum</label>
                        <small class="form-text text-muted">Minimum transverse momentum of the charged leptons.</small>
                      </div>

                      <div class="input-group" id="number-charged-leptons-prompts-min-transverse-momentum-inner">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="">Min Momentum</span>                          
                        </div>
                        <input id="min-charged-lepton-transverse-momentum" name="min-charged-lepton-transverse-momentum" type="number" step="0.1" min="0" max="100" class="form-control" placeholder="0.0-100.0">
                        <div class="input-group-append">
                          <span class="input-group-text">GeV</span>
                        </div>
                        <div class="invalid-feedback">
                          Specify an appropriate minimum transverse momentum for the charged leptons between 0.0 GeV and and 100.0 GeV.
                        </div>
                      </div>                                            

                  </div>
                </div>
              </div>
            </div>

            <hr class="mb-4">

            <div class="mb-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="number-jets-checkbox" name="number-jets-checkbox">
              <label class="custom-control-label" for="number-jets-checkbox">Jet Count</label>
            </div>
            <small class="form-text text-muted">Jets are produced from the hadronization of quarks. Thus, jet count is a proxy for original quark count.</small>
            <div class="input-group" id="number-jets-prompts">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Min and Max Count</span>
              </div>
              <input id="min-number-jets-prompt" name="min-number-jets-prompt" type="number" step="1" min="0" max="9" class="form-control" placeholder="0-9">
              <input id="max-number-jets-prompt" name="max-number-jets-prompt" type="number" step="1" min="0" max="9" class="form-control" placeholder="0-9">              
              <div class="invalid-feedback">
                Specify minimum and maximum jet counts between 0 and 9.
              </div>
            </div> 
            </div>

            <div class="mb-3">
            <div class="custom-control custom-checkbox" id="number-b-jets-checkbox-group">
                <input type="checkbox" class="custom-control-input" id="number-b-jets-checkbox" name="number-b-jets-checkbox">
                <label class="custom-control-label" for="number-b-jets-checkbox">B-Tagged Jet Count</label>
            </div>
            <small class="form-text text-muted" id="number-b-jets-checkbox-help">B-Tagged jets originate from bottom quarks.</small>
            <div class="input-group" id="number-b-jets-prompts">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Min and Max Count</span>
              </div>
              <input id="min-number-b-jets-prompt" name="min-number-b-jets-prompt" type="number" step="1" min="0" max="9" class="form-control" placeholder="0-9">
              <input id="max-number-b-jets-prompt" name="max-number-b-jets-prompt" type="number" step="1" min="0" max="9" class="form-control" placeholder="0-9">
              <div class="invalid-feedback">
                Specify minimum and maximum b-jet counts between 0 and 9.
              </div>
            </div>
            </div>
                  
            <hr class="mb-4">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="data-percent">Fraction of Dataset (%)</label>
                <div class="input-group mb-3">
                  <input type="number" step= "0.1" min="0" max="100" class="form-control" id="data-percent" name="data-percent" placeholder="0.0-100.0" required>
                  <div class="input-group-append">                    
                    <button type="submit" class="btn btn-primary" id="GO">GO!</button>                    
                  </div>                
                  <div class="invalid-feedback">
                    Specify percentage of input data to use (0.0 - 100.0%).
                  </div>
                </div>               
              </div>
            </div>

          </form>
        </div>

            <div class="row" style="background-color:#fff9ee;">
                <div class="col-md-12" style="background-color:#fff9ee;">

                   {% if histograms %}
                            <div class="col-md-12" style="background-color:#fff9ee;">                                    
                                    <h1>Variable Histograms&nbsp;</h1>
                                </div>
                            {% endif %}

                    <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators2">
                        <div class="carousel-inner" role="listbox">
                            {% for histogram, histlabel in histograms %}                            
                                {% if loop.index0 == 0 %}
                                    <div class="carousel-item active">                                    
                                {% else %}
                                    <div class="carousel-item">
                                {% endif %}
                                        <img class="w-100 d-block" src="{{ histogram }}" alt="{{ url_for('static', filename='images/loading.gif') }}">                                        
                                        <div class="carousel-caption d-none d-md-block">
                                          <h5><font color="black" size="10">{{ histlabel }}</font></h5>                                                                        
                                        </div>
                                    </div>

                            {% endfor %}                            

                        </div>
                        <div><a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselExampleIndicators2" role="button"
                                data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                        <ol class="carousel-indicators">
                            {% for histogram in histograms %}
                                {% if loop.index0 == 0 %}
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="{{ loop.index0 }}" class="active"></li>
                                {% else %}
                                    <li data-target="#carouselExampleIndicators2" data-slide-to="{{ loop.index0 }}"></li>
                                {% endif %}
                            {% endfor %}

                        </ol>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div></div>
<!--     <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider1.js"></script>
 -->
            <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/Simple-Slider1.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
        <script src="{{ url_for('static', filename='assets/js/event-analyser.js') }}"></script>
</body>

</html>