<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AtlasCarousel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">ATLASOPENDATA</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(&quot;assets/img/bluebck.jpg&quot;);height:650px;">
                    <h1 style="margin:200px 200px;color:rgb(186,247,255);">Welcome to AtlasOpenData</h1>
                    <p style="width:500px;margin:0px 200px;font-size:25px;color:rgb(216,235,255);">Atlas Analysis allows you to explore the world of particle physics by analysing data from CERN.&nbsp;</p>
                </div>
                <div class="swiper-slide" style="background-image:url(&quot;assets/img/fractal-art-.jpg&quot;);height:650px;">
                    <p style="margin:100px 100px;color:rgb(255,255,255);font-size:20px;">Click one of the buttons below to start leanring about particle physics &amp; ATLAS. These are based on your current level and understanding, so please select the level you are comftable with. Alternatively click the Analyse Data button
                        to start analysing some data.&nbsp;</p><p style="margin:100px 100px;height:250px;">
    <a class="btn btn-primary" role="button" href="Theory.html" style="height:140px;width:250px;background-image:url(&quot;beginnerbutton.jpg&quot;);font-size:30px;">Beginner</a>
    <a class="btn btn-primary" role="button" href="Theory.html" style="height:140px;width:250px;background-image:url(&quot;advbtn.jpg&quot;);font-size:30px;">Advanced</a>
    <a class="btn btn-primary" role="button" href="DataAnalysistt.html" style="height:140px;width:250px;background-image:url(&quot;dataanalysis.jpg&quot;);font-size:30px;">Data Analysis</a>
</p></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider1.js"></script>
</body>

</html>